.login-modal {
  padding: 40px 40px 5px;
  width: 450px;
}

.top-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.register-button {
  min-height: 45px;
  min-width: 100px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  border-radius: 25px;
  border: black 2px solid;
  background-color: white;
}

.register-button:hover {
  transform: scale(1.04);
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  font-weight: 600;
}

.form-input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  padding: 0px 10px;
}

.form-input:hover {
  border-color: black;
}

.error {
  color: red;
  font-size: small;
}

.login-div {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 10px;
}

.login-button,
.demo-user-login {
  min-height: 50px;
  min-width: 210px;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background-color: #f1d5db;
}

.login-button:hover,
.demo-user-login:hover {
  background-color: #f3dbe0;
  transform: scale(1.04);
}

.login-loading-text {
  display: flex;
  justify-content: center;
  align-items: start;
}
