.manage-products-section {
    margin: 110px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manage-products-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 750px; */
    padding-bottom: 20px;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

/* .manage-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.create-button {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
} */

.create-new-product-button {
    min-height: 50px;
    min-width: 210px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    border-radius: 25px;
    border: black 2px solid;
    background-color: white;
}

.create-new-product-button:hover {
    background-color: #f3dbe0;
    transform: scale(1.04);
}

.no-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    text-wrap: nowrap;
    gap: 10px;
}

.fa-face-frown-open {
    font-size: 80px;
    color: #f1d5db;
}

.products-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}

.manage-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

.update-product-button, .modal-button {
    min-height: 45px;
    min-width: 130px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    border-radius: 25px;
    border: black 1px solid;
    background-color: white;
}

.update-product-button:hover, .modal-button:hover {
    background-color: #f3dbe0;
    transform: scale(1.04);
}
